name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
  pull_request:
    types: 
      - closed
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Enable Corepack
        run: |
          corepack enable
          corepack prepare yarn@4.10.3 --activate
          yarn -v
      - name: 'Create env file'
        run: |
          touch .env
          echo SHEET_ID=${{ secrets.SHEET_ID }} > .env
          echo GOOGLE_API=${{ secrets.GOOGLE_API_KEY }} >> .env
          cat .env
      - name: Run build-scripts
        run: |
          node build-scripts/generate-config.js
      - name: Install, build
        run: |
          yarn install
          yarn exec grunt build:production
        env:
          CI: true
      - name: Run tests
        run: |
          if yarn run | grep -q "test"; then
            echo "Running tests..."
            yarn test
          else
            echo "No test script defined. Skipping tests."
          fi
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PA_TOKEN}}
          publish_dir: ./build
          publish_branch: gh-pages

